body {
    font-family: 'Poppins', sans-serif;
}

/* Top Section */

.top-section {
    height: 100vh;
    background: linear-gradient(90deg, #ebf1ff 50%, #ffffff 50%);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Navigation */

.navbar-nav .nav-item .nav-link {
    color: black;
}

.navbar-nav .nav-item .nav-link:hover {
    border-bottom: 2px solid #3e64ff;
    color: black;
}

.navbar-nav .nav-item .nav-link {
    display: inline;
    padding-left: 0;
    padding-right: 0;
}

.roni-nav .brand-logo {
    font-size: 26px;
    font-weight: 900;
    z-index: 1;
}

.a-brand {
    position: relative;
    color: #ffff;
}

.a-brand::before {
    position: absolute;
    content: "";
    background-color: #3e64ff;
    width: 40px;
    height: 40px;
    left: -9px;
    top: -2px;
    border-radius: 50%;
    z-index: -1;
}

/* Banner */

.banner .first-text {
    font-size: 16px;
    font-weight: 800;
    color: #3e64ff;
}

.banner .second-text {
    font-size: 60px;
    font-weight: 800;
}

.banner .third-text {
    font-weight: 800;
}

.banner .third-text .dev-txt {
    color: #3e64ff;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 65px);
}

.banner .diamond {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    z-index: 11;
}

.banner .diamond::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #edf0ff;
    transform: rotate(45deg);
    z-index: -1;
}

.banner .mouse-wheel {
    width: 70px;
    height: 70px;
}

.arrow {
    width: 20px;
    color: #3e64ff;
    animation: mouse-wheel-animation 4s infinite;
}

@keyframes mouse-wheel-animation {
    0% {
        transform: translateY(10px);
        color: #3e64ff;
    }
    80% {
        transform: translateY(50px);
        color: #ff0000;
    }
}

/* About Section*/

.profile-pic {
    min-height: 650px;
    background-image: url("../images/profile_image.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.information {
    padding: 60px 0px 0px 35px;
}

.about-txt {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 25px;
}

.sprit-txt {
    margin-bottom: 24px;
    color: #999999;
}

.description {
    margin-bottom: 30px;
}

.description dt {
    font-weight: 400;
    color: black;
}

.description dd {
    color: #999999;
}

.project-txt {
    margin-bottom: 24px;
    font-weight: 400;
}

.project-txt .project-number {
    color: #3e64ff;
    font-weight: 600;
}

.cv-download-btn {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    background-color: #3e64ff;
    border: 1px solid #3e64ff;
    border-radius: 40px;
    letter-spacing: 2px;
    padding: 1rem;
}

.cv-download-btn:hover {
    color: black;
}
